.InputBar {
    grid-area: InputBar;
    background-color: #eeeeee;
    border-top: 5px #000000de solid;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}

.InputBar label {
    margin: auto 0px auto 5px;
}

.InputBar input {
    flex-grow: 1;
    margin: auto 5px;
    font-size: inherit;
}

.InputBar button {
    margin: auto 5px;
    font-size: inherit;
}
