.MessagePanel {
    grid-area: MessagePanel;
    background-color: #c4c4c4;
    overflow-y: auto;
}

.BottomSnapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.MessageList {
    max-height: calc(100% - 25px);
    list-style: none;
    padding: 0 1%;
}

.MessageList li {
    border: 2px #d85147 solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #000000a0;
    margin: 15px 5px;
    background-color: #eeeeee;
}

.MessageList p {
    margin-left: 4px;
    margin-right: 4px;
}
