{
    "extends": ["eslint:recommended", "standard", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "semi": [
            "error",
            "always"
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "react/prop-types": 0,
        "no-console": "off"
    }
}
