.Title {
    background-color: navy;
    grid-area: Title;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title h3 {
    color: white;
    margin: 0 10px;
}
